<section class="kd-sidenav">
  <div class="kd-sidenav-content">
    <div class="kd-nav-header" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isAuth">
      <button class="kd-btn logout" mat-button (click)="onLogout()">
        <mat-icon class="ic logout">exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
      <div class="user-name">
        <mat-icon class="ic account">face</mat-icon>
        <span>Username</span>
      </div>
    </div>
    <div *ngIf="isAuth">
    <label class="kd-label">Console</label>
      <div class="kd-sub-container">
        <a mat-list-item class="kd-item link" mat-button [routerLink]="[ '/console/checks' ]" (click)="onCloseSideNav()">
          <mat-icon class="ic item">receipt</mat-icon>
          <span>Checks</span>
        </a>
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">credit_card</mat-icon>
          <span>Transaction</span>
        </a>
      </div>
      <label class="kd-label">Manager</label>
      <div class="kd-sub-container">
        <a mat-list-item class="kd-item link" mat-button [routerLink]="[ '/dashboard' ]" (click)="onCloseSideNav()">
          <mat-icon class="ic item">dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">today</mat-icon>
          <span>Schedule</span>
        </a>
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">notes</mat-icon>
          <span>Shift Report</span>
        </a>
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">bar_chart</mat-icon>
          <span>Statistic</span>
        </a>
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">people</mat-icon>
          <span>Teams</span>
        </a>
      </div>
      <label class="kd-label">Storage</label>
      <div class="kd-sub-container">
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">kitchen</mat-icon>
          <span>Inventories</span>
        </a>
        <a mat-list-item class="kd-item link" mat-button (click)="onCloseSideNav()">
          <mat-icon class="ic item">note_add</mat-icon>
          <span>Ordering</span>
        </a>
      </div>
    </div>
  </div>
</section>
