<section class="kd-login-form">
    <div class="kd-login-box">
      <span class="kd-logo-wrap">
        <mat-icon class="kd-logo">donut_small</mat-icon>
        <span class="kd-appname">KITCHEN DOORS</span>
      </span>
      <h3 class="kd-hd">Log in to continue</h3>
      <form 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="10px" 
        #f="ngForm" 
        (ngSubmit)="onSubmit(f)"
        [formGroup]="loginForm"
      >
        <mat-form-field class="kd-form-field">
          <input 
            type="email" 
            matInput 
            placeholder="Your email" 
            formControlName="email"
          >
        <!-- <mat-error>We can't find any match to this email address</mat-error> -->
        <mat-error>Please enter a valid email address</mat-error>
        <!-- <mat-error *ngIf="errors.email">{{ errors.email? errors.email : '' }}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="kd-form-field">
          <input 
            type="password" 
            matInput 
            placeholder="Your password" 
            formControlName="password"
          >
        <mat-error>Please enter an invalid password</mat-error>
        </mat-form-field>
        <div class="kd-form-field">
            <a class="kd-hint-link" [routerLink]="[ '/forgetpassword' ]">Forget password?</a>
        </div>
        <button 
          type="submit" 
          class="kd-btn 
          submit" 
          mat-raised-button 
          color="primary"
          [disabled]="f.invalid"
        >
          Log In
        </button>
      </form>
      <span class="kd-link">Don't have an account? <a [routerLink]="[ '/signup' ]">Register Now.</a></span>
    </div>
  </section>