.kd-spinner {
  position:absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.kd-new-check {
  width: 100%;
  max-width: 100vw;
  min-width: 1000px;
  min-height: 540px;
  height: 100vh;
  height: calc(100vh - 86px);
  max-height: calc(100vh - 86px);
  overflow: hidden;
  /* padding: 24px 24px; */
}
mat-tab-group,
mat-tab {
  font-family: 'Poppins', 'Montserrat', sans-serif;
}
.top-row-content {
  width: 100%;
  height: 100%;  
}
.top-row-content .left {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.top-row-content .right {
  min-width: 300px;
  width: 500px;
  height: 100%;
  /* border-left: 1px solid #00ffdd1a; */
}
.kd-check-console {
  position: relative;
  background-color: #0f4438;
  font-weight: 300;
  height: 100%;
  overflow: hidden;
  box-shadow: 
    0px -2px 4px 0px rgba(0, 0, 0, 0.20), 
    0px 0px 1px 0px rgba(99, 99, 99, 0.1);
}
.hd-bar {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5d5d5d;
  padding: 0px;
  height: 30px;
  font-size: 0.8em;
  font-weight: 400;
}
.hd-bar .el {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  height: 100%;
}
.hd-bar .flx.al-c {
  display: flex;
  align-items: center;
}
.hd-bar .el.l {
  width: 70%;
  border-right: 1px solid #3c3c3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd-bar .el.r {
  width: 30%;
  justify-content: flex-end;
  background: #b14040;
}
.hd-bar .el.l .label,
.hd-bar .el.r .label {
  margin: 3px;
}
.hd-bar .el.l:hover {
  color: #00ffa6;
  background: #686868;
}
.hd-bar .el.r:hover {
  background: #c44646;
}
.ic {
  transform: scale(0.7);
}
.summary {
  font-size: 1em;
}
.row-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 0px 15px;
  border-bottom: 1px solid #63636380;
}
.row-item .number {
  font-weight: 400;
  letter-spacing: 1px;
  color: #f5ffff;
  text-shadow: 0 0 2px 0px rgba(99, 99, 99, 0.1);
}
.row-item .number .percent {
  color: #00ffa6;
  font-weight: 200;
}
.row-item.total {
  border-bottom: none;
}
.row-item.total .number {
  justify-content: flex-end;
  min-height: 50px;
  font-size: 2em;
  border-bottom: none;
}
.btn-rack {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* border-radius: 15px 15px 0 0; */
  min-height: 80px;
  width: 100%;
  overflow: hidden;
  box-shadow: 
    0px -2px 4px 0px rgba(0, 0, 0, 0.20), 
    0px 0px 1px 0px rgba(99, 99, 99, 0.1);
}
.btn-rack .expend-panel {
  overflow: hidden;
  height: 40px;
  transition: 0.3s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-rack .row {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: stretch;
}
.btn-rack .row .kd-btn {
  width: 100%;
  height: 100%;
  border-radius: 0;
  /* border-top: 1px solid #0e4437; */
}
.btn-rack .row .kd-btn.cash-out {
  background-color: #5a8dce;
}
.btn-rack .row .kd-btn.save {
  background-color: #00a1a9;
  border-top: 1px solid #0e4437;
}
.btn-rack .row .kd-btn.more {
  width: 50px;
  background-color: #5a8dce;
  border-left: 1px solid #0e4437;
  border-right: 1px solid #0e4437;
}
.btn-rack .row .kd-btn.extra {
  background-color: #105a48;
  border-top: 1px solid #0e4437;
}
.btn-rack .row .kd-btn.extra.left {
  border-right: 1px solid #0e4437;
}

.kd-exp-header,
div.mat-expansion-panel-body {
  padding: 0 0 0 0;
}