<section class="kd-new-check" *ngIf="!!!check">
  <div class="kd-spinner"><mat-spinner color="warn"></mat-spinner></div>
</section>
<section class="kd-new-check" fxLayout="column" fxLayoutAlign="strecth space-between" *ngIf="check">
  <div class="top-row-content" fxLayout="row" fxLayoutAlign="start start">
    <div class="left">
      <app-items-table [check]="check"></app-items-table>
    </div>
    <div class="right">
      <div class="kd-check-console">
        <div class="hd-bar">
          <span class="el l" (click)="onEditDetails()">
            <span class="flx al-c">
              <mat-icon class="ic">receipt</mat-icon>
              <span class="label">{{check.title }}</span>
            </span>
            <span class="flx al-c">
              <span class="label">{{check.guest }}</span>
              <mat-icon class="ic" *ngIf="check.guest===1">person_outline</mat-icon>
              <mat-icon class="ic" *ngIf="check.guest!==1">people_outline</mat-icon>
            </span>
          </span>
          <span class="el r" (click)="discardCheck()">
            <span>{{check.closed?'Done':'Discard'}}</span>
            <mat-icon class="ic" *ngIf="!check.closed">delete_outline</mat-icon>
          </span>
        </div>
        <div class="summary">
          <div class="row-item">
            <span>Subtotal</span>
            <span class="number">{{ getSubtotal() | currency }}</span>
          </div>
          <div class="row-item">
            <span>Discount</span>
            <span class="number">
              <span class="percent">({{ getDiscount().percent }}) </span>
              <span>{{ getDiscount().cash | currency }}</span>
            </span>
          </div>
          <div class="row-item">
            <span>Tax</span>
            <span class="number">
              <span class="percent">({{ getTax().taxRate }}) </span>
              <span>{{ getTax().cash | currency }}</span>
            </span>
          </div>
          <div class="row-item total">
            <span>Total</span>
            <span class="number">{{ getTotal() | currency }}</span>
          </div>
        </div>
        <div class="btn-rack">
          <div class="expend-panel" id="btn-rack-panel">
            <div class="row">
              <button class="kd-btn cash-out" mat-button (click)="closeCheck(check.id,'cash')" [disabled]="isCheckClosed()">Cash</button>
              <button class="kd-btn more" mat-button (click)="onToggleBtnPanel()"><mat-icon>more_horiz</mat-icon></button>
              <button class="kd-btn cash-out" mat-button (click)="closeCheck(check.id,'credit')" [disabled]="isCheckClosed()">Credit</button>
            </div>
            <div class="row">
                <button class="kd-btn extra" mat-button (click)="closeCheck(check.id,'mobile')" [disabled]="isCheckClosed()">Mobile Payment</button>

              <button class="kd-btn extra left" mat-button [disabled]="isCheckClosed()">Split Tender</button>
            </div>
            <div class="row">
              <button class="kd-btn extra left" mat-button>Print Check</button>
              <button class="kd-btn extra left" mat-button (click)="adjustTips()" [disabled]="check.adjusted_tips">Adjust Tips</button>
            </div>
          </div>
          <div class="row">
            <button mat-button class="kd-btn save" (click)="saveCheck()">{{check.adjusted_tips?'Close':'Save Ticket'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-menu-items></app-menu-items>
</section>