mat-form-field,
mat-checkbox {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
  white-space: normal;
}
mat-checkbox {
  font-size: 0.7em;
}
.kd-signup-form {
  width: 300px;
  max-width: 100vw;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.kd-hd {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
  /* border-bottom: 1px solid rgba(255,255,255,.7); */
}
.kd-btn {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 0.8em;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #0baf75;
}
.kd-btn.submit {
  width: 100%;
  margin: 20px 0;
}